.blog-archive{
    .gfooter{
        border-top: 0;
    }
}

.gfooter{
    background-color: $white;
    border-top: 1px solid $black;
    &__cta{
        padding: 1.5rem 1rem;
        border-bottom: 1px solid $black;
        background-color: $xlgray;
        text-align: center;
        p{
            margin-bottom: .5rem;
        }
        a{
            color: $blue;
        }
    }
    &__subscribe{
        padding: 1.5rem 1rem;
        h2{
            margin-bottom: 1rem;
            span{
                display: block;
            }
        }
        .thanks,
        input{
            background-color: transparent;
            width: 100%;
            display: block;
            border: 0;
            border-bottom: 1px solid $black;
            font-size: 2rem;
            font-family: $heading_font;
            font-weight: 300;
            &::placeholder{
                color: $gray;
            }
        }
        .thanks{
            border-bottom: 0;
            color: rgba(0,0,0,.5);
        }
        button{
            color: $blue;
            font-size: 1rem;
        }
    }
    &__copy{
        padding: 1.5rem 1rem;
        border-top: 1px solid $black;
        font-family: $serif;
        font-size: .9rem;
        ul{
            display: flex;
            flex-wrap: wrap;
            a{
                padding: 0 .5rem;
            }
        }
    }
    @media (min-width:960px){
        &__subscribe{
            padding: 3rem 1rem;
            display: flex;
            align-items: center;
            h2{
                margin: 0;
                font-size: 2.5rem;
                span{
                    display: inline;
                }
            }
            .thanks,
            input{
                margin: 0 1.5rem;
                flex: 1;
                padding: 0;
                border: 0;
                font-size: 2.5rem;
                // max-width: 600px;
                color: rgba(0,0,0,.5);
            }
            button{
                margin: 0;
                margin-left: auto;
                padding: 0;
            }
        }
        &__copy{
            padding: .75rem 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}