@import 'styles/includes/variables';

.centerd_content{
    text-align: center;
    padding: 1.5rem 1rem;
    @media (min-width:960px){
        padding: 3rem 1rem;
        :global{
            .content-wrap{
                max-width: 1200px;
                margin: 0 auto;
            }
        }
    }
}

.centerd_content__large{
    :global{
        p{
            font-size: 1.25rem;
            font-family: $heading_font2;
        }
    }
    @media (min-width:960px){
        :global{
            p{
                font-size: 2rem;
            }
        }
    }
}

.centered_content__padding{
    padding: 3rem 1rem;
    @media (min-width:960px){
        padding: 6rem 1rem;
    }
}