.border_top{
    border-top: 1px solid black;
}

.feat_port{
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    border-top: 1px solid black;
    &__footer{
        margin-top: 1.5rem;
        padding: 0 1rem;
        text-align: center;
    }
    &__loop{
        padding-left: 1rem;
        padding-right: 1rem;
        :global{
            .container{
                display: grid;
                grid-template-columns: repeat( 2, 1fr );
                grid-column-gap: 1.5rem;
                grid-row-gap: 1.5rem;
                @media (min-width:600px){
                    grid-template-columns: repeat( 3, 1fr );
                }
                @media (min-width:960px){
                    grid-template-columns: repeat( 4, 1fr );
                }
                @media (min-width:1100px){
                    grid-template-columns: repeat( 5, 1fr );
                }
                @media (min-width:1200px){
                    grid-template-columns: repeat( 6, 1fr );
                }
            }
        }
    }
    @media (min-width:960px){
    }
}