@import 'styles/includes/variables';

.post_card{
    padding: 1rem;
    display: block;
    border-bottom: 1px solid black;
    &:hover{
        text-decoration: none;
    }
    &__meta{
        display: flex;
        justify-content: space-between;
        align-items: center;
        :global{
            .h5{
                font-size: 0.8rem;
                font-family: $serif;
                margin-bottom: 1rem;
            }
        }
    }
    &__image{
        :global{
            .spacer{
                width: 100%;
                height: 0;
                padding-bottom: 90%;
                position: relative;
                // background-color: $gray;
            }
            img{
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
                width: 100%;
                height: 100%;
                max-width: none;
            }
        }
    }
    &__content{
        margin-top: 1rem;
        :global{
            h4{
                margin-bottom: 0;
                font-family: $sans;
                font-size: 1rem;
            }
            .h5{
                font-size: 0.8rem;
                margin-top: .5rem;
                margin-bottom: 0;
                font-family: $serif;
            }
        }
    }
    @media (min-width:960px){
        // &__meta{
        //     :global{
        //         .h5{
        //             font-size: 1.2vw;
        //             margin-bottom: 1.2vw;
        //         }
        //     }
        // }
        &__image{
            :global{
                .spacer{
                    // padding-bottom: 75%;
                }
            }
        }
        // &__content{
        //     margin-top: 1.2vw;
        //     :global{
        //         h4{
        //             font-size: 1.5vw;
        //         }
        //         .h5{
        //             margin-top: .6vw;
        //             font-size: 1.2vw;
        //         }
        //     }
        // }
    }
}