.port_details{
    grid-column: 1 / -1;
    height: 0;
    position: relative;
    overflow: hidden;
    width: calc(100% + 2rem);
    margin-left: -1rem;
    // &:before,
    // &:after{
        //     content: '';
        //     position: absolute;
        //     left: 50%;
        //     transform: translateX(-50%);
        //     width: 100vw;
        //     height: 1px;
        //     background-color: black;
        // }
        &__loading{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
    }
    &__wrap{
        border-top: 1px inset black;
        border-bottom: 1px inset black;
    }
    &__image{
        border-right: 1px solid black;
        :global{
            img{
                width: 100%;
            }
        }
    }
    &__content{
        padding: 3rem 1.5rem;
        :global{
            .content-wrap{
                max-width: 400px;
                margin: 0 auto;
                width: 100%;
            }
            .port-cats{
                border: 0;
                justify-content: flex-start;
                margin-bottom: 3rem;
                li{
                    border: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                    width: auto;
                    flex:none;
                    padding-left: 0;
                    padding-right: 0;
                    span{
                        display: none;
                    }
                    img{
                        margin-right: .5rem;
                    }
                }
            }
        }
    }
    @media (min-width:960px){
        margin-left: 0;
        width: 100%;
        &__wrap{
            display: flex;
            position: relative;
            justify-content: flex-end;
        }
        &__image{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 50%;
            :global{
                img{
                    object-fit: cover;
                    height: 100%;
                    max-width: none;
                }
            }
        }
        &__content{
            width: 50%;
            padding: 4.5rem;
            box-sizing: border-box;
            min-height: 400px;
            display: flex;
            align-items: center;
        }
    }
}