.close_icon{
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    :global{
        svg{
            transform: scale(1.75);
            width: 100%;
            height: 100%;
        }
    }
    @media (min-width:960px){
        right: 3rem;
        top: 3rem;
    }
}
.port_details{
    grid-column: 1 / -1;
    height: 0;
    position: relative;
    overflow: hidden;
    width: calc(100% + 2rem);
    margin-left: -1rem;
    // &:before,
    // &:after{
        //     content: '';
        //     position: absolute;
        //     left: 50%;
        //     transform: translateX(-50%);
        //     width: 100vw;
        //     height: 1px;
        //     background-color: black;
        // }
        &__loading{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
    }
    &__wrap{
        border-top: 1px inset transparent;
        border-bottom: 1px inset transparent;
        position: relative;
        &:after,
        &:before{
            z-index: 1;
            content: '';
            position: absolute;
            top: 0;
            left: calc(50% - 50vw);
            width: 100vw;
            height: 1px;
            background-color: black;
        }
        &:after{
            top: auto;
            bottom: 0;
        }
    }
    &__image{
        border-right: 1px solid black;
        :global{
            .spacer{
                width: 100%;
                padding-bottom: 100%;
                height: 0;
                position: relative;
            }
            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                max-height: none;
                object-fit: cover;
            }
        }
    }
    &__content{
        padding: 3rem 1.5rem;
        :global{
            .content-wrap{
                position: relative;
                max-width: 450px;
                margin: 0 auto;
                width: 100%;
            }
            .port-cats{
                border: 0;
                justify-content: flex-start;
                li{
                    border: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                    width: auto;
                    flex:none;
                    padding-left: 0;
                    padding-right: 0;
                    span{
                        display: none;
                    }
                    img{
                        margin-right: .5rem;
                    }
                }
            }
        }
    }
    @media (min-width:960px){
        margin-left: 0;
        width: 100%;
        &__wrap{
            display: flex;
            position: relative;
            justify-content: flex-end;
        }
        &__image{
            width: 50%;
            // position: absolute;
            // top: 0;
            // left: 0;
            // height: 100%;
            // width: 50%;
            // :global{
            //     img{
            //         object-fit: cover;
            //         height: 100%;
            //         max-width: none;
            //     }
            // }
        }
        &__content{
            width: 50%;
            padding: 4.5rem;
            box-sizing: border-box;
            min-height: 400px;
            display: flex;
            align-items: center;
            position: relative;
            :global{
                .content-wrap{
                    position: static;
                }
            }
        }
    }
}