.latest_posts{
    padding: 3rem 0 0;
    &__intro{
        padding-left: 1rem;
        padding-right: 1rem;
        :global{
            .container{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            h2{
                margin-bottom: 0;
            }
        }
    }
    &__loop{
    }
    &__grid{
        padding: 1.5rem 1rem;
        :global{
            .swiper{
                overflow: visible;
            }
        }
    }
    @media (min-width:960px){
        &__grid{
            :global{
                .swiper-wrapper{
                    flex-wrap: wrap!important;
                }
                .swiper-slide{
                    width: 50%!important;
                    margin: 0!important;
                }
            }
        }
    }
}