@font-face {
    font-family: 'Garnett';
    src: url('/fonts/GarnettLight-Regular.woff2') format('woff2'),
        url('/fonts/GarnettLight-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Garnett';
    src: url('/fonts/GarnettRegular-Regular.woff2') format('woff2'),
        url('/fonts/GarnettRegular-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/fonts/HelveticaNowDisplay-Medium.woff2') format('woff2'),
        url('/fonts/HelveticaNowDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('/fonts/SpaceMono-Regular.woff2') format('woff2'),
        url('/fonts/SpaceMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('/fonts/HelveticaNowText-Regular.woff2') format('woff2'),
        url('/fonts/HelveticaNowText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

