@import 'styles/includes/variables';

.journal_nav{
    .journal_cats{
        width: 100%;
        display: flex;
        overflow: auto;
        flex-wrap: nowrap;
        white-space: nowrap;
        list-style: none;
        border-bottom: 1px solid black;
        padding: 0 .75rem;
        :global{
            li{
                padding: 0;
                margin: 0;
            }
            a{
                padding: .5rem 1.5rem;
                display: block;
                color: rgba(0,0,0,.35);
                font-family: $heading_font2;
                &.active,
                &:hover{
                    color: $blue;
                }
                span{
                    display: none;
                }
            }
        }
    }
    .filter_bar{
        position: relative;
        .filter_btn{
            text-align: center;
            display: block;
            padding: 1rem 1rem;
            font-family: $serif;
            font-size: .8rem;
            width: 100%;
            border-bottom: 1px solid black;
            :global{
                svg{
                    width: 1rem;
                    transform: rotate(90deg);
                }
            }
        }
    }
    @media (min-width:960px){
        display: flex;
        align-items: center;
        .journal_cats{
            flex: 1;
            :global{
                a{
                    color: $black;
                    position: relative;
                    padding: .75rem 2rem;
                    min-width: 200px;
                    text-align: center;
                    span{
                        display: block;
                        position: absolute;
                        top: .25rem;
                        right: 0;
                        font-size: .9rem;
                    }
                }
            }
        }
        .filter_bar{
            width: 200px;
        }
    }
}