@import 'styles/includes/variables';

.parallax_bubble{
    min-height: $mobHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 1.5rem;
    border-bottom: 1px solid black;
    overflow: hidden;
    background-color: transparent;
    // background-color: #ebefee;
    // position: relative;
    :global{
        canvas {
            position: absolute;
            top: 0;
            kerning: 0;
            width: 100%;
            height: 100%; 
        }
        .blob{
            // background-color: $blue;
            border-radius: 50%;
            width: 50%;
            z-index: -1;
            will-change: transform;
            // background: linear-gradient(246deg, rgb(98, 100, 224) 0%, rgb(16, 6, 159) 75%); 
            filter: blur(10px);
            opacity: .25;
            position: relative;
            &:first-of-type{
                filter: blur(0);
                opacity: 1;
            }
            .spacer{
                width: 100%;
                height: 0;
                padding-bottom: 100%;
            }
            svg{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    // svg{
    //     z-index: -1;
    //     max-width: 50%;
    //     border-radius: 50%;
    //     background-color: black;
    //     path{
    //         // filter: contrast(170%) brightness(1000%);  
    //         // filter: url(#noiseFilter);
    //         // mix-blend-mode: darken;
    //         // mix-blend-mode: difference;
    //         // mix-blend-mode: exclusion;
    //         // mix-blend-mode: multiply;
    //     }
    // }
    @media (min-width:960px){
        min-height: $deskHeight;
        :global{
            .blob{
                width: 600px;
            }
        }
    }
}