@import 'styles/includes/variables';

.parallax_bubble{
    min-height: $mobHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 1.5rem;
    border-bottom: 1px solid black;
    overflow: hidden;
    background-color: transparent;
    // background-color: #ebefee;
    svg{
        z-index: -1;
        max-width: 50%;
        path{
            // filter: contrast(170%) brightness(1000%);  
            // filter: url(#noiseFilter);
            // mix-blend-mode: darken;
            // mix-blend-mode: difference;
            // mix-blend-mode: exclusion;
            // mix-blend-mode: multiply;
        }
    }
    @media (min-width:960px){
        min-height: $deskHeight;
        svg{
            width: 500px;
        }
    }
}