@import 'styles/includes/variables';

.article{
    padding: 1.5rem 1rem 0;
    @media (min-width:960px){
        padding: 3rem 4.5rem 0;
        border-right: 1px solid black;
    }
}

.article_hero{
    :global{
        img{
            width: 100%;
            margin: 0rem 0 1.5rem;
        }
        h1{
            margin-top: 0;
        }
    }
    figure{
        max-width: 100%;
        margin-bottom: 1.5rem;
        img{
            margin: 0;
        }
        figcaption{
            margin-top: .5rem;
            font-family: $serif;
            font-size: .85rem;
            a{
                text-decoration: underline;
            }
        }
    }
    &__extra,
    &__meta{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .share_box{
        position: relative;
        .share_btn{
            display: flex;
            align-items: flex-end;
            font-family: $serif;
            :global{
                svg{
                    width: 1rem;
                    margin-top: -.1rem;
                    margin-right: .5rem;
                }
            }
        }
        .share_links{
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0 .75rem;
            position: absolute;
            right: 0;
            top: 2rem;
            background: white;
            border: 1px solid black;
            border-radius: 1.5rem;
            :global{
                li{
                    margin: 0;
                    padding: 0;
                }
                a{
                    display: flex;
                    align-items: center;
                    padding: .75rem .75rem;
                }
                svg{
                    display: block;
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
    }
    @media (min-width:960px){
        :global{
            img{
            }
        }
    }
}

.article_content{
    padding-bottom: 3rem;
    :global{
        .excerpt{
            font-style: italic;
        }
    }
    img{
        margin-bottom: 1.5rem;
    }
    figure{
        max-width: 100%;
        margin-bottom: 1.5rem;
        img{
            margin: 0;
        }
        figcaption{
            margin-top: .5rem;
            font-family: $serif;
            font-size: .85rem;
            a{
                text-decoration: underline;
            }
        }
    }
    @media (min-width:960px){
        padding-bottom: 4.5rem;
    }
}