@import 'styles/includes/variables';

.parallax_bubble{
    min-height: $mobHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 1.5rem;
    border-bottom: 1px solid black;
    overflow: hidden;
    svg{
        max-width: 50%;
    }
    @media (min-width:960px){
        min-height: $deskHeight;
        svg{
            width: 300px;
        }
    }
}