@import 'styles/includes/variables';

.image_hero{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: $mobHeight;
    :global{
        img{
            width: 100%;
        }
    }
    @media (min-width:960px){
        min-height: $deskHeight;
        padding: 6rem 1rem;
    }
}