@import 'styles/includes/variables';

.port_loop{
    padding: 0;
    &__footer{
        text-align: center;
        width: 100%;
        padding: 3rem 1rem;
    }
    @media (min-width:960px){
        :global{
            .container{
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}